<div class="analytics">
    <div class="overview">
        <h1>数据概览</h1>
        <div el-row gutter="20">
            <div el-col [span]="4">
                <div class="overview-box"><span class="num">82,365</span></div>
                <div class="overview-name">累计设备</div>
            </div>
            <div el-col span="4">
                <div class="overview-box"><span class="num">0</span></div>
                <div class="overview-name">可疑设备</div>
            </div>
            <div el-col span="5">
                <div class="overview-box">
                    <span class="num">8,365</span>
                    <div class="overview-equipment">
                        <i class="fa el-icon-caret-right equal"></i>
                        <span class="overview-equ">0.00%</span>
                    </div>
                </div>
                <div class="overview-name">近7日活跃设备</div>
            </div>
            <div el-col span="5">
                <div class="overview-box">
                    <span class="num">8,365</span>
                    <div class="overview-equipment">
                        <i class="fa el-icon-caret-top rise"></i>
                        <span class="overview-equ">0.60%</span>
                    </div>
                </div>
                <div class="overview-name">近30日活跃设备</div>
            </div>
            <div el-col span="5">
                <div class="overview-box">
                    <span class="num">8,365</span>
                    <div class="overview-equipment">
                        <i class="fa el-icon-caret-bottom drop"></i>
                        <span class="overview-equ">-0.60%</span>
                    </div>
                </div>
                <div class="overview-name">近7日单设备日均使用时长</div>
            </div>
        </div>
    </div>
    <div class="analytics-view">
        <div class="analytics-view-title" el-row>
            <div el-col span="12" class="tit">时段分布</div>
            <div el-col span="12" class="det">
                <el-button type="primary" size="small">查看详情</el-button>
            </div>
        </div>
        <div class="analytics-view-content">
            <!-- <app-echarts></app-echarts> -->
        </div>
    </div>
    <div class="trend-view">
        <div class="trend-view-title" el-row>
            <div el-col span="12" class="tit">数据详情</div>
            <div el-col span="12" class="det">
                <el-button type="primary" size="small">查看详情</el-button>
            </div>
        </div>
        <div class="analytics-view-content">
            <el-table [model]="tableData" stripe="true" scroll-x="false">
                <el-table-column model-key="date" label="日期" width="140"></el-table-column>
                <el-table-column model-key="new" label="新增设备" width="100"></el-table-column>
                <el-table-column model-key="day_active" label="日活跃设备" width="140"></el-table-column>
                <el-table-column model-key="week_active" label="周活跃设备" ></el-table-column>
                <el-table-column model-key="month_active" label="月活跃设备" ></el-table-column>
            </el-table>
            <el-pagination [total]="200"
            [layout]="['prev', 'pager', 'next']">
            </el-pagination>
        </div>
    </div>
</div>
