<div class="bg-main">
    <div class="regist-container">
        <div class="regist-animation">
            <div class="content-regist clearfix">
                <div id="basic_login">
                    <div class="login-title clearfix">
                        <h3 id="nav-normal-login" class="active">帐号登录</h3>
                    </div>
                    <!-- 帐户登录 -->
                    <ul id="tab-normal-login" class="clearfix" style="display: inline-block;">
                        <span id="error_info"></span>
                        <li>
                            <input id="email" type="text"  [(ngModel)]="user_name" class="input-regist" placeholder="请输入账户名">
                        </li>
                        <li>
                            <input id="password" [(ngModel)]="password" type="password" class="input-regist" placeholder="密码">
                        </li>
                        <li>
                            <input id="code" [(ngModel)]="code" type="text" class="input-regist input-code"
                                placeholder="验证码">
                            <div class="input-regist input-code" (click)="getCode()">
                                <img [src]="code_url">
                            </div>
                            <div></div>
                        </li>
                    </ul>
                    <div class="login-operate">
                        <a href="javascript:void(0)" id="btn-normal-login" (click)="login()" class="btn-login btn-regist" style="display: block;">帐号登录</a>
                    </div>
                </div>
            </div>
            <!-- 以下代码已经弃用，被前页覆盖 -->
        </div>
    </div>
</div>