<div class="header demo">
    <div class="header-logo">
        <img src="assets/images/logo.png">
        <div class="header-logo-title">
            <h3>爬虫服务</h3>
            <h4>SpiderAdmin</h4>
        </div>
    </div>
    <div class="header-aside">
        
        <!-- <div class="no-badgeStyle">
            <span class="ivu-badge">
                <i class="td-appfont fa fa-bell"></i>
                <sup class="ivu-badge-dot">11</sup>
            </span>
        </div>
        <span class="header-aside-setting">
            <i class="td-appfont fa fa-gear"></i>
        </span>
        <a class="header-aside-lang">EN</a> -->
    </div>
    
    <div class="header-items">
        <a class="on">
            <i class="category-icon td-appfont fa fa-star-half-o"></i>
            <span>明星信息</span>
        </a>
        <!-- <a class="">
            <i class="category-icon td-appfont fa fa-paper-plane-o"></i>
            <span>推送营销</span>
        </a>
        <a class="">
            <i class="category-icon td-appfont fa fa-life-ring"></i>
            <span>开发助手</span>
        </a>
        <a class="on">
            <i class="category-icon td-appfont fa fa-legal"></i>
            <span>应用管理</span>
        </a> -->
    </div>
    <!---->
</div>
