<div class="top-bar">
	<h4 class="title">列表</h4>
</div>

<el-form [inline]="true" size="small">

	<el-form-item label="年龄">
		<el-input size="small"></el-input>
	</el-form-item>

	<el-form-item label="姓名">
		<el-input size="small"></el-input>
	</el-form-item>

	<el-form-item label="日期">
		<el-date-picker size="small" (modelChange)="handle($event)"
			(clear-click)="clearClickHandle($event)">
		</el-date-picker>
	</el-form-item>
  
	<el-form-item>
		<el-button type="primary" size="small">搜索</el-button>
	</el-form-item>
  
</el-form>

<el-table [model]="tableData" stripe="true" scroll-x="false">
    <el-table-column model-key="date" label="日期" width="140"></el-table-column>
    <el-table-column model-key="new" label="新增设备" width="100"></el-table-column>
    <el-table-column model-key="day_active" label="日活跃设备" width="140"></el-table-column>
    <el-table-column model-key="week_active" label="周活跃设备" ></el-table-column>
    <el-table-column model-key="month_active" label="月活跃设备" ></el-table-column>
    <el-table-column label="操作" width="120">
		<ng-template #slot let-scope="scope">
			<el-button type="text" size="small" (click)="handle(scope)">删除</el-button>
		</ng-template>
	</el-table-column>
</el-table>
<el-pagination class="pages" [total]="200" [layout]="['prev', 'pager', 'next']"></el-pagination>