.footer-wrapper{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	.support-info span {
	    margin-right: 15px;
	}
	.copy-right{
		text-align: right;
	}
}
.footer-con{
	width: 100%;
    padding: 15px 0;
    line-height: 24px;
}