<app-header></app-header>
<app-sitebar></app-sitebar>
<div class="content">
	<main [@routerTransition]="getState(o)">
		<router-outlet #o="outlet"></router-outlet>
	</main>
	<div class="footer-wrapper">
		<div el-row class="footer-con">
			<!-- <div el-col span="12" class="support-info">
				<p>
					<a href="#">关于</a>&nbsp;|&nbsp;
					<a href="#">博客</a>
				</p>
				<p><span>联系qq：779311998</span><span>联系邮箱:779311998@qq.com</span></p>
			</div>
			<div el-col span="12" class="copy-right">
				<p>2019 © guoshuangpeng@le.com</p>
				<p>技术支持：重阳</p>
			</div> -->
		</div>
	</div>
</div>